body {
  margin: 0;
  padding: 0;
}

nav a {
  font-size: 28px;
}

.search-container {
  border: 1px solid #ddd;
}

img {
  border: 1px solid #000;
  width: 100%;
}

.title {
  color: #EB6864;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badges span {
  margin-bottom: 10px;
  width: 49%;
}